version: 2
jobs: 
  build:
    docker:
      - image circleci/python:3.7.1
        environment: 
          ENV_PORT: 5000
          FLASK_ENV: testing
          PG_HOSTNAME: localhost
          PG_PORT: 5432
          PG_USER: ubuntu
          PG_PASSWORD: password
          PG_DATABASE: structure_db
      - image circleci/postgres:latest
        environment: 
          POSTGRES_USER: ubuntu
          POSTGRES_PASSWORD: password
          POSTGRES_DB: structure_db
    steps:
      - checkout
      - run
          name: Install Pipenv dependencies
          command: |
          sudo pip install pipenv
          python3 -m pipenv install\
      - run 
          name: Run Tests
          command: |
          pipenv shell
          pytest test/
