version: 2
jobs: 
  build:
    docker:
    - image: circleci/python:3.7.1
      environment: 
        ENV_PORT: "5000"
        FLASK_ENV: testing
        PG_HOSTNAME: localhost
        PG_PORT: "5432"
        PG_USER: ubuntu
        PG_PASSWORD: password
        PG_DATABASE: structure_db
    - image: circleci/postgres:latest
      environment: 
        POSTGRES_USER: ubuntu
        POSTGRES_PASSWORD: password
        POSTGRES_DB: structure_db
    steps:
      - checkout
      - run:
          name: Install Pipenv dependencies
          command: |
            python3 -m pip install pipenv==11.4.0 && python3 -m pipenv install --dev
      - run: 
          name: Run Tests
          command: |
            python3 -m pipenv run pytest
